/* stylelint-disable */

@mixin for-desktop {
    @media (min-width: (1025px)) {
      @content;
    }
  }
  
  @mixin big-desktop {
    @media (max-width: (1440px)) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (max-width: (1024px)) {
      @content;
    }
  }
  
  @mixin small-tablet {
    @media (max-width: (768px)) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: (576px)) {
      @content;
    }
  }
  

  @mixin flex {
    display: flex;
  }
  
  @mixin flex-v-center {
    display: flex;
    align-items: center;
  }
  
  @mixin flex-h-center {
    display: flex;
    justify-content: center;
  }
  
  @mixin flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flex-all-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  /* stylelint-disable */

@mixin burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;

  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: 22px;
  color: var(--black-color);
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.burger{
  &__block{
    display: flex;
    justify-content: center;
  }
  @include burger;
  display: none;
  @include tablet{
      display: block;
  }

}
.burger.burger--active{
  @include tablet{
    display: block;
    position: absolute;
    right: 30px;
    top: 30px
}
}
.menu--active{
  width: 100vh;
  background-color: #fff;
}

